:root {
  --primary-color: rgb(5, 182, 5)
}

body {
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff;
  max-width: 100vw;
  background-color: rgb(183, 202, 184);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vmin 3vw 0 3vw;
  color: white;
  background-color: #222;
  
}

h1 {
  font-size: 5vmin;
  font-weight: 100;
}

#okc {
  color: var(--primary-color);
  font-weight: 400;
  margin: 3px;
}

.header-nav {
  display: flex;
  justify-content: space-around;
  width: 33vw;
}

.header-nav li {
  font-size: 3.33vmin;
  font-weight: 100;
  list-style: none;
}

.header-nav li a {
  color: #fff;
  text-decoration: none;
}

main {
  max-width: 700px;
  margin: auto;
  padding: 2vmin 7vmin;
  flex-direction: column;
  align-items: center;
  color: #222;
}


.hero-image {
  width: 100%;
}

.intro-title {
  font-size: 4.7vmin;
  font-weight: 100;
}

ul {
  line-height: 4vmin;
  font-size: 2.5vmin;
}

#contact {
  border: 1px solid #222;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:  0 3vmin 5vmin 3vmin;
  margin: 7vmin;
}

#contact h3 {
  font-size: 3.2vmin;
}

#contact p {
  font-size: 2.8vmin;
}

#contact a {
  color: green;
}

footer {
  text-align: center;
  padding: 5vmin;
  background-color: #222;
  color: var(--primary-color);
  height: 12vmin;
}