body {
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw 0 2vw;
  color: white;
  background-color: green;
}

h1 {
  font-size: 5vmin;
}

h2 {
  font-size: 4vmin
}

main {
  max-width: 700px;
  margin: auto;
}

.hero {

}

.hero-image {
  width: 100%;
}

footer {
  text-align: right;
  margin-right: 3vmin;
}
